@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;

}


.container {
  width: 100%;
  margin: auto;
}

.nav-menu {
  transform: translateX(-100%);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}

.nav-menu.active {
  transform: translateX(0);
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}


.nav-items-container li {
  transition: .1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-items-container li:hover {
  transform: scale(1.2);
}

.todays-food-items-container {
  scroll-behavior: smooth;
}

/* .arrow-left {
 pointer-events: ;
}

.arrow-right {

} */